section{
    background-color: var(--backgroundColor);
    .projects-sec{
        padding: 40px 0px;
        .header{
            padding: 35px 0px;
            h2{
                font-size: 4rem;
            }
            span{
                color: var(--secondNewColor);
            }
        }
        .body{
            .projects{
                padding-bottom: 35px;
                .project{
                    background-color: var(--secondarybackgroundColor);
                    width: 30%;
                    transition: 0.3s;
                    // background-color: var(--backgroundColor);
                    padding: 20px 18px;
                    border-radius: 10px;
                    overflow: hidden;
                    .image{
                        width: 100%;
                        height: auto;
                        border-radius: 15px;
                        position: relative;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: auto;
                            object-fit: cover;
                            cursor: pointer;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: -40%;
                            width: 25%;
                            height: 100%;
                            background: rgba(255, 255, 255, 0.521);
                            transform: skewX(-45deg);
                            transition: left 0.5s ease;
                        }
                        &:hover::before{
                            left: 125%;
                        }
                    }
                    .description{
                        margin-top: 10px;
                        margin-left: 10px;
                        h5{
                            color: var(--newcolor);
                        }
                        p{
                            line-height: 20px;
                            margin: 14px 0px;
                            opacity: 1;
                            transition: 0.3s;
                        }

                    }
                    .btns{
                        padding: 0px 12px;
                        transition: 0.5s all;
                        transform: translateY(100%);
                        opacity: 0;
                        button{
                            outline: none;
                            border: none;
                            padding: 6px 30px;
                            border-radius: 8px;
                            transition: 0.5s all;
                            background: var(--buttonColor);
                            color: var(--white) !important;

                            &:hover{
                                background: var(--buttonHover);
                                transform: scale(1.1) !important;
                                // transform: translateY(-4px);
                            }
                            &:active{
                                transform: scale(0.95);
                            }
                        }
                        a{
                            outline: none;
                            border: none;
                            text-decoration: none;
                            font-size: 18px;
                            i{
                                color: var(--LightText);
                                border-radius: 50%;
                                transition: 0.4s;
                                font-size: 28px;
                                &:hover{
                                    transform: translateY(-5px);
                                    box-shadow: 0px 11px 13px 0px rgba(0, 0, 0, 0.6);
                                    color: var(--buttonColor);
                                }
                            }

                        }
                    }
                    &:hover{
                        // background-color: var(--secondarybackgroundColor);
                        cursor: pointer;
                        transform: translateY(-20px);
                        box-shadow: 1px 23px 42px 0px rgba(0,0,0,0.6);
                    }
                    &:hover .btns {
                        transform: translateY(0);
                        opacity: 1;
                    }
                    // &:hover .description p{
                    //     opacity: 1;
                    // }
                }
            }
        }
    }

    .animated-object {
        opacity: 0;
        // transform: translateY(100px);
        transform: scale(0.5);
        transition: all 0.8s ease-out;
      }
      
      .animated-object.show {
        opacity: 1;
        // transform: translateY(0);
        transform: scale(1);
      }
}

  @media (min-width : 280px) and (max-width : 767px){
    section{
        .projects-sec{
            gap: 1.5rem;
            .header{
                h2{
                    font-size: 3rem;
                }
            }
            .body{
                .projects{
                    padding: 0px 20px;
                    .project{
                        width: 100%;
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }
  }