<section>
    <div class="container">
        <div class="contact-body">
            <div class="sectiom-head d-flex flex-wrap justify-content-center">
                <div class="section_header d-flex flex-wrap">
                    <h1>Let's Work Together</h1>
                    <div class="heser_animation animated-heder" #animatedElement1 [class.show]="isVisible1"></div>
                </div>
            </div>
            <div class="main-content d-flex justify-content-around gap-4">
                <div class="head d-flex  flex-column animated-object-X" #animatedElement [class.show]="isVisible">
                    <div>
                        <div class="header">
                            <h2>Contact <span>Me</span></h2>
                        </div>
                        <div class="contact d-flex flex-column gap-2">
                            <div class="contact-box d-flex align-items-center gap-1">
                                <i class="fa-solid fa-envelope"></i>
                                <p>shehab202205097&#64;gmail.com</p>
                            </div>
                            <div class="contact-box d-flex align-items-center gap-1">
                                <i class="fa-solid fa-phone"></i>
                                <p>[+20] 1020446938</p>
                            </div>
                            <div class="social">
                                <!-- <div class="social-header">
                                    <h4>Social</h4>
                                </div> -->
                                <div class="icons d-flex gap-2">
                                    <a 
                                    href="https://www.facebook.com/shehab.khaled.475174"
                                    target="_blank">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a>
                                    <a 
                                    href="https://www.instagram.com/shehabkhaled48?r=nametag"
                                    target="_blank">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                    <a 
                                    href="https://www.linkedin.com/in/shehab-khaled-329b192b6/"
                                    target="_blank">
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                    <a 
                                    href="https://wa.me/201020446938"
                                    target="_blank">
                                        <i class="fa-brands fa-whatsapp"></i>
                                    </a>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
                <div class="form-part">
                    <div class="form-body parent-container" #parentContainer>
                        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                            <div class="input-feild child">
                                <input type="text" placeholder="Name" formControlName="name">
                                <small 
                                *ngIf="contactForm.hasError('required','name')
                                &&
                                contactForm.controls.name.dirty" 
                                class="text-danger m-0 p-0">
                                Name is required
                                </small>
                            </div>
                            <div class="input-feild child">
                                <input type="email" placeholder="Email" formControlName="email">
                                <small 
                                *ngIf="contactForm.hasError('required','email')
                                &&
                                contactForm.controls.email.dirty" 
                                class="text-danger m-0 p-0">
                                Email is required
                                </small>
                                <small 
                                *ngIf="contactForm.get('email')?.getError('email')" 
                                class="text-light-emphasis m-0 p-0">
                                Email should be as "name&#64;example.com"
                                </small>
                            </div>
                            <div class="input-feild child">
                                <input type="text" placeholder="Subject" formControlName="subject">
                                <small 
                                *ngIf="contactForm.hasError('required','subject')
                                &&
                                contactForm.controls.subject.dirty" 
                                class="text-danger m-0 p-0">
                                Subject is required
                                </small>
                            </div>
                            <div class="input-feild child">
                                <textarea name="" id="" placeholder="Message" formControlName="message"></textarea>
                                <small 
                                *ngIf="contactForm.hasError('required','message')
                                &&
                                contactForm.controls.message.dirty" 
                                class="text-danger m-0 p-0">
                                Message is required
                                </small>
                            </div>
                            <div class="input-feild child">
                                <button>Submit</button>
                            </div>
                        </form>
                        <span id="msg"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
