.about-section{
    background-image: url(/assets/imgs/backgroundDark1.jpg);
    background-attachment: fixed;
    background-size: cover;
    // margin-top: 10%;
    // overflow: hidden;
    .about-container{
        backdrop-filter: blur(2px);
    }
    .about-body{
        overflow: hidden;
        position: relative;
        padding: 80px 0px;
        // margin-top: 6.5rem;
        .header{
            width: 50%;
            h1{
                font-size: 5rem;
                color: var(--secondNewColor);
            }
        }
        .after-effect::after{
            position: absolute;
            top: 18%;
            right: 53%;
            content: "";
            border-radius: 15px;
            background: var(--WarmYellow);
            height: 74%;
            width: 5px;
        }
        .contenr{
            width: 50%;
            h4{
                font-size: 30px;
                padding: 15px 0px;
            }
            span{
                color: var(--newcolor);
                font-size: 45px;
            }
            p{
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
}
.animated-object-X {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 1.3s ease-out;
  }
  
  .animated-object-X.show {
    opacity: 1;
    transform: translateX(0);
  }
  .parent-container .child {
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.5s ease-out;
  }
  
  .parent-container.show .child {
    opacity: 1;
    transform: translateX(0);
  }