<section class="bubble">
    <div class="footer-sec">
        <div class="container">
            <div class="footer-body animated-object-X" #animatedElement [class.show]="isVisible">
                <div class="main-content flex-wrap d-flex justify-content-between align-items-start">
                    <div class="logo">
                        <div class="head d-flex gap-4 align-items-center">
                            <div class="image">
                                <img src="./assets/imgs/logo2.jpg" alt="logo-img">
                            </div>
                            <div class="name">
                                <h3>SH<span>.</span>KHALED</h3>
                            </div>
                        </div>
                        <!-- <div class="btn">
                            <a href="./assets/files/shehab khaled omar.pdf" download>
                                <button>
                                    Download Cv
                                    <i class="fa-solid fa-arrow-down"></i>
                                </button>
                            </a>
                        </div> -->
                    </div>
                    <div class="links d-flex flex-column">
                        <div>
                            <div>
                                <h4>links</h4>
                            </div>
                            <ul>
                                <li><a href="#home">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#projects">Projects</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="contact d-flex flex-column">
                        <div>
                            <h4>contact me</h4>
                        </div>
                        <div class="contact-box d-flex align-items-center gap-1">
                            <!-- <p>shehab202205097&#64;gmail.com</p> -->
                            <a href="mailto:shehab202205097@gmail.com" class="d-flex gap-2 align-items-center">
                                <i class="fa-solid fa-envelope"></i>
                                <span>shehab202205097&#64;gmail.com</span>
                            </a>
                        </div>
                        <div class="contact-box d-flex align-items-center gap-1">
                            <!-- <p>[+20] 1020446938</p> -->
                            <a href="tel:+201020446938" class="d-flex gap-2 align-items-center">
                                 <i class="fa-solid fa-phone"></i>
                                <span>[+20] 1020446938</span>
                             </a>
                        </div>
                        <div class="icons">
                            <a 
                            href="https://www.facebook.com/shehab.khaled.475174"
                            target="_blank">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                            <a 
                            href="https://www.instagram.com/shehabkhaled48?r=nametag"
                            target="_blank">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a 
                            href="https://www.linkedin.com/in/shehab-khaled-329b192b6/"
                            target="_blank">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                            <a 
                            href="https://wa.me/201020446938"
                            target="_blank">
                                <i class="fa-brands fa-whatsapp"></i>
                            </a>
                            <a 
                            href="https://github.com/SheHab970"
                            target="_blank">
                            <i class="fa-brands fa-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="copyrignt d-flex justify-content-center">
                    <p>
                        Copyright © 2026. All rights reserved. Powerd by SHEHAB KHALED
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="curve"></div>
</section>
