section{
    position: relative;
    margin-top: 10%;
    // overflow: hidden;
    .footer-sec{
        background-color: var(--backgroundColor);
        padding: 30px 0px;
        .footer-body{
            .main-content{
                padding: 0px 30px;
                padding-bottom: 40px;
                .logo{
                    width: 30%;
                    .head{
                        margin-bottom: 20px;
                        .name{
                            h3{
                                font-size: 35px;
                                font-weight: 800;

                            }
                            span{
                                color: var(--yallow);
                            }
                        }
                        .image{
                            width: 15%;
                            position: relative;
                            img{
                                width: 100%;
                                object-fit: cover;
                                border-radius: 50%;
                                cursor: pointer;
                            }
                            &::after{
                                content: "";
                                width: 5px;
                                left: 120%;
                                border-radius: 10px;
                                height: 100%;
                                position: absolute;
                                background-color: var(--newcolor);
                            }
                        }

                    }
                    .btn{
                        padding: 10px 15px;
                        button{
                            border: none;
                            outline: none;
                            background-color: var(--buttonColor);
                            color: var(--LightText);
                            padding: 10px 12px;
                            border-radius: 8px;
                            transition: 0.3s;
                            font-size: 14px;
                            &:hover{
                                background-color: var(--buttonHover);
                            }
                            &:active{
                                transform: scale(0.9);
                            }
                            i{
                                font-size: 12px;
                                padding: 0px 4px;
                            }
                        }
                    }
                }
                .links{
                    width: 30%;
                    padding-left: 5%;
                    h4{
                        font-size: 1.1rem;
                        font-weight: 500;
                        padding-bottom: 5px;
                        align-content: center;
                        color: var(--secondNewColor);
                        margin-bottom: 20px;
                        width: fit-content;
                        text-transform: uppercase;
                        border-bottom: 2px solid var(--secondNewColor);
                    }
                    ul{
                        display: flex;
                        flex-direction: column;
                        // justify-content: space-between;
                        // align-items: center;
                        gap: 12px;
                        margin: 0;
                        padding: 0;
                        li{
                            list-style: none;
                            padding: 0;
                            a{
                                text-decoration: none;
                                color: var(--LightText);
                                font-size: 15px;
                                position: relative;
                            }::after{
                                position: absolute;
                                bottom: -2px;
                                left: 1px;
                                content: "";
                                width: 0%;
                                height: 2px;
                                background-color: var(--MainColor);
                                transition: 0.8s;
        
                            }
                            a:hover::after{
                                // animation: animation 1s;
                                width: 100%;
                            }
                            a.active{
                                border-bottom: solid 2px var(--MainColor);
                                color: var(--secondaryColor);
                                // font-weight: bold;
                            }
        
                        }
                    }

                }
                .contact{
                    width: 30%;
                    h4{
                        font-size: 1.1rem;
                        font-weight: 500;
                        padding-bottom: 5px;
                        align-content: center;
                        color: var(--secondNewColor);
                        margin-bottom: 20px;
                        width: fit-content;
                        text-transform: uppercase;
                        border-bottom: 2px solid var(--secondNewColor);
                    }
                    .contact-box{
                        margin-bottom: 15px;
                        a{
                            text-decoration: none;
                            color: var(--LightText);
                            span{
                                color: var(--LightText);
                                text-decoration: underline;
                                font-size: 17px;
                            }
                        }
                        i{
                            font-size: 20px;
                            padding: 8px;
                            color: var(--yallow);
                        }
                        p{
                            margin: 0;
                            color: var(--LightText);
                            font-size: 14px;
                        }
                    }
                    .icons{
                        a{
                            text-decoration: none;
                            font-size: 25px;
                            padding: 10px 8px;
                            color: var(--LightText);
                            i{
                                border-radius: 50%;
                                transition: 0.4s;
                                &:hover{
                                    transform: translateY(-5px);
                                    box-shadow: 0px 11px 13px 0px rgba(0, 0, 0, 0.6);
                                    color: var(--buttonColor);
                                }
                            }
                        }
                    }

                }
            }
            .copyrignt{
                padding: 35px 0px;
                position: relative;
                p{
                    margin: 0;
                }
                &::before{
                    content: "";
                    position: absolute;
                    width: 85%;
                    height: 1px;
                    top: 13%;
                    background-color: var(--MainColor);
                }
            }
        }
    }
    .curve {
        position: absolute;
        height: 250px;
        width: 100%;
        top: -35%;
        z-index: -1;
        background-size: cover;
        background-image: url('/assets/svg/wave.svg'); /* or use a data URI */
    }
}