<section class="Home-page">
    <div class="hero">
        <div class="container">
            <div class="d-flex gap-4 align-items-center main-content">
                <div class="infor-section parent-container" #parentContainer>
                    <div class="name child">
                        <h1> <span>S</span>hehab Khaled</h1>
                    </div>
                    <div class="jop child">
                        <h4>Frontend Developer</h4>
                    </div>
                    <p class="child">
                        I am a Computer Science student skilled in frontend development, specializing in Angular, 
                        TypeScript, HTML, CSS, and JavaScript. I have hands-on experience building responsive web applications, 
                        integrating REST APIs
                    </p>
                    <div class="btn child">
                        <button class="learn-more">
                            <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                            </span>
                            <span class="button-text">About Me</span>
                          </button>
                    </div>
                </div>
                <div class="img-section d-flex justify-content-end align-items-center animated-object-X" #animatedElement [class.show]="isVisible">
                    <div class="personal-img">
                        <img src="./assets/imgs/img4.jpg" alt="personal-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
