<section>
    <div class="skills-body">
        <div class="container">
            <div class="main-body d-flex justify-content-center align-items-center flex-wrap gap-1">
                <div class="header d-flex justify-content-center align-items-center">
                    <h1>Skills <span>&</span> Tech</h1>
                </div>
                <div class="slider d-flex justify-content-center align-items-center">
                    <div class="slider-wrapper">
                        <div class="slider-track">
                            <div class="element d-inline-block" *ngFor="let item of languages">
                                <div class="item d-flex flex-column justify-content-center align-items-center">
                                    <div class="image">
                                        <img [src]="item.img" alt="item img">
                                    </div>
                                    <h4 class="H4">{{item.name}}</h4>
                                </div>
                            </div>
                            
                            <div class="element d-inline-block" *ngFor="let item of languages">
                                <div class="item d-flex flex-column justify-content-center align-items-center">
                                    <div class="image">
                                        <img [src]="item.img" alt="item img">
                                    </div>
                                    <h4 class="H4">{{item.name}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

