section{
    .skills-body{
        overflow: hidden;
        padding: 8% 6%;
        background-color: var(--secondarybackgroundColor);
        .main-body{
            .header{
                padding-bottom: 60px;
                width: 100%;
                h1{
                    font-size: 4.5rem;
                }
                span{
                    font-size: 5.5rem;
                    color: var(--secondNewColor);
                }
            }
            .slider{
                width: 85%;
                .slider-wrapper {
                    overflow: hidden;
                    width: 100%;
                    white-space: nowrap;
                    position: relative;
                    .fadee{
                        position: absolute;
                        background: var(--gradient);
                        inset: 0;
                        pointer-events: none;
                    }
                  }
                  
                  .slider-track {
                    display: inline-block;
                    white-space: nowrap;
                    animation: scroll-left 15s linear infinite;

                    .element{
                        .item{
                            margin: 0px 60px;
                            .image{
                                width: 50px;
                                height: auto;
                                padding: 15px 0px;
                                border-radius: 50%;

                                img{
                                    width: 100%;
                                    object-fit: cover;
                                    border-radius: 5%;
                                    height: auto;
                                    display: inline-block;
                                    margin-right: 10px;
                                }
                            }
                            h4{
                                font-size: 18px;
                                color: var(--LightText);
                                text-transform: uppercase;
                            }

                        }
                    }
                    .element:nth-child(even){
                        h4{
                            color: var(--secondNewColor) !important;
                        }
                    }
                  }
                &:hover{
                    cursor: pointer;
                    .slider-track{
                        animation-play-state: paused;
                    }
                }
            }
        }
    }
}
@keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @media (min-width : 280px) and (max-width : 767px){
    section{
        .skills-body{
            padding: 25% 0%;
            // margin: 50px 0px;
            .main-body{
                .header{
                    padding-bottom: 35px;
                    h1{
                        font-size: 3rem;
                    }
                    span{
                        font-size: 3.5rem;
                    }
                }
                .slider{
                    width: 90%;
                    .slider-track {
                    display: inline-block;
                    white-space: nowrap;
                    animation: scroll-left 15s linear infinite;

                    .element{
                        .item{
                            margin: 0px 25px;
                            .image{
                                width: 45px;
                                height: auto;
                                padding: 24px 0px;
                                border-radius: 50%;

                                img{
                                    width: 100%;
                                    object-fit: cover;
                                    border-radius: 50%;
                                    height: auto;
                                    display: inline-block;
                                    margin-right: 10px;
                                }
                            }
                            h4{
                                font-size: 16px;
                            }

                        }
                    }
                  }
                }
            }
        }
    }
  }