main{
    // .nav-Bar{
    //     position: fixed;

    // }
    .page-section{
        // margin-top: 10%;
        section {
            min-height: 100vh;
            scroll-margin-top: 120px; /* match your navbar height */
            align-content: center;
          }
    }
    .up-button{
        position: fixed;
        border: none;
        background: var(--buttonColor);
        width: 35px;
        height: 35px;
        border-radius: 10px;
        bottom: 4%;
        right: 3%;
        animation: bigSmall 2s ease-in-out infinite alternate;
        transition: 1s all;
        display: none;
       }
       .display{
        display: block;
       }
       .up-button:hover{
        cursor: pointer;
        animation-play-state: paused;
       }
       .up-button i{
        color: white;
        font-size: 20px;
        font-weight: 600;
       }
      @keyframes bigSmall {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.3);
        }
      }
}

  @media (min-width : 280px) and (max-width : 767px){
    main{
        .page-section{
            section{
                scroll-margin-top: -30px;
            }
        }
        .up-button{
            width: 28px;
            height: 28px;
            border-radius: 5px;
            bottom: 12%;
        }
        .up-button i{
        font-size: 14px;
       }
    }
  }