
<main>
  <div class="nav-Bar">
    <app-nav-bar [activeSection]="activeSection"/>
  </div>

  <div class="page-section">

    <section id="home">
      <app-home (scrollToProjects)="scrollToProjects()" />
    </section>

    <section id="about">
      <app-about />
      <app-skills/>
    </section>

    <section id="projects" #projectsSection>
      <app-projects />
    </section>

    <section id="contact">
      <app-contact />
    </section>

    <div>
      <app-footer />
    </div>
    
    <div>
      <button id="UpBottum" class="up-button" [ngClass]="{'display' : down}" (click)="Upwindow()">
        <i class="fa-solid fa-arrow-up"></i>
      </button>
    </div>
  </div>
</main>