<nav>
    <!-- <div class="nav_container">
        <div class="container ">
            <div class="NavflexParent">
                <div class="nave_header">
                    <h2 class="text-capitalize">rentalx</h2>

                    <div class="toggleIcon">
                        <i id="toggl" class="ri-menu-3-line xx"></i>
                    </div>

                </div>

                <div id="nav_bar" class="mobScren">
                    <ul id="ul_nav">
                        <li><a href="#home">home</a></li>
                        <li><a href="#rent">rent</a></li>
                        <li><a href="#serv">services</a></li>
                        <li><a href="#exper">ride</a></li>
                        <li><a href="#down">content</a></li>
                        <li><a href="" class="btn_ul">Sign Up</a></li>
                        <li><a href="" class="btn_ul">Sign In</a></li>
                    </ul>
                </div>


                <div class="btns">
                    <button>sign up</button>
                    <button>sign in</button>
                </div>

            </div>
        </div>
    </div> -->
    <div class="nav_bar">
        <div class="container nav-cont">
            <div class="d-flex justify-content-between align-items-center nav-body">
                <div class="logo d-flex align-items-center gap-4">
                    <div class="image">
                        <img src="./assets/imgs/logo2.jpg" alt="logo-img">
                    </div>
                </div>

                <div class="menue d-flex">
                    <ul>
                        <li><a href="#home" [class.active]="activeSection === 'home'" >Home</a></li>
                        <li><a href="#about" [class.active]="activeSection === 'about'" >About</a></li>
                        <li><a href="#projects" [class.active]="activeSection === 'projects'" >Projects</a></li>
                        <li><a href="#contact" [class.active]="activeSection === 'contact'" >contact</a></li>
                        <li (click)="togglMode()"><i class="fa-solid" [ngClass]="isDarkMode ? 'fa-moon' : 'fa-sun'"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
