.nav_bar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    // backdrop-filter: blur(147px);
    // box-shadow: 0px 4px 163.4px -40px #04142186;
    // box-shadow: 0px 4px 189.4px 18px #041421;
    .nav-body{
        background-color: var(--secondarybackgroundColor);
        padding: 15px 10px;
        margin: 30px;
        border-radius: 15px;

        .logo{
            .image{
                margin-left: 25px;
                width: 7%;
                // ::after{
                //     content: "";
                //     width: 5px;
                //     height: 100%;
                //     color: var(--MainColor);
                // }
            }
            // .image::after{
            //     content: "";
            //     position: absolute;
            //     width: 5px;
            //     border-radius: 35px;
            //     margin-left: 8px;
            //     height: 35%;
            //     background-color: var(--MainColor);
            // }
            img{
                width: 100%;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
            }
        }
        .menue{
            padding-right: 6%;
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 45px;
                margin: 0;
                li{
                    list-style: none;
                    padding: 0;
                    a{
                        text-decoration: none;
                        color: var(--secondaryColor);
                        font-size: 18px;
                        position: relative;
                    }::after{
                        position: absolute;
                        bottom: -2px;
                        left: 1px;
                        content: "";
                        width: 0%;
                        height: 2px;
                        background-color: var(--MainColor);
                        transition: 0.8s;

                    }
                    a:hover::after{
                        // animation: animation 1s;
                        width: 100%;
                    }
                    a.active{
                        border-bottom: solid 2px var(--MainColor);
                        color: var(--secondaryColor);
                        // font-weight: bold;
                    }

                }
            }
        }
    }

}

@keyframes animation {
    0%{
        // opacity: 0.5;
        // transform: translateY(-30%);
        width: 0;
    }
    100%{
        // opacity: 1;
        // transform: translateY(0%);
        width: 100%;
    }
}


@media (min-width : 280px) and (max-width : 767px){  // for mobile screen
   .nav_bar{
    bottom: 0%;
    top: auto;
    .nav-body{
        margin: 40px 10px;
        margin-right: 40px;
        border-radius: 18px;
        padding: 12px 0px;
        .logo{
            .image{
                width: 45%;
            }
        }
        .menue{
            ul{
                gap: 10px;
                li{
                    a{
                        font-size: 16px;
                    }
                }
            }

        }
    }
   }
}